@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-beat {
  font-family: var(--font-beat-word);
}
.border-imageNav {
  border-image: linear-gradient(180deg, #48A7FF, #5E6EFF) 6;
}

.borderGradient {
  border: 1.76px solid;
  border-image-source: linear-gradient(207.43deg, #cfe8ff66 0.85%, #ffffff00 32.31%);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
